body {
  font-family:MD Primer Bold,Rubik,Lato,Lucida Grande,Lucida Sans Unicode,Tahoma,Sans-Serif;  font-style: normal;
  background-color: #15202B;
  background: linear-gradient(0deg, #121213,#15202B);
}

.top_bar{
  text-align: center;
  position: static;
  color:#ffffff;
  text-shadow:0 10px 10px rgba(0,0,0,.5);
  height: 200px;
  font-size: 50px;
  margin: 0;
  padding: 0;
}

.img-container{
    width:50%;
    overflow: hidden; 
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

img{
  width:100%;
  height: 100%;
}

/* Center items */
.flex-parent {
  display: flex;
}
.jc-center {
  justify-content: center;
}

footer{
  padding: 10px;
  text-align: center;
  color: white;
}